<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/head.css">
    <title>关于我们</title>
</head>
<body>
    <div class="about-wrap">
        <h1 class="logo-about"></h1>
        <h2 class="about-title-h2">当前版本 <em></em></h1>
        <p class="about-content"></p>
    </div>
    
    <script type="text/javascript" src="../../public/dist/js/script/Zepto.js"></script>
    <script type="text/javascript" src="../../public/dist/js/config.js"></script>
    <script type="text/javascript" src="../../public/dist/js/app.js"></script>
    <script>
        function accept(rs){
            var json = $.parseJSON(rs);
            if(json.versionName){$(".about-title-h2 em").html("v"+json.versionName);}
            $.post('//'+domain.jc+'/user/setting/getabout',{token:json.token}, function (re) {
                    if(re.code=='0001000'){
                        $(".about-content").html(re.data.about_us);
                    }
            },'json');
        }
    </script>
</body>
</html>