<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/head.css">
    <title>保满意APP用户协议</title>
</head>
<body>
    <div class="common-wrap">
        <ul>
            <li><h2>一、总则</h2></li>
            <li>
                <h3>1.1</h3>
                <p>本《协议》为您（即：用户）与上海对保信息技术有限公司（以下简称：保满意）就保满意所提供的服务达成的协议。保满意在此特别提醒您认真阅读、充分理解本《用户服务协议》（下称《协议》）--- 用户应认真阅读、充分理解本《协议》中各条款，特别条款中涉及的免责条款，对用户的权利限制的条款，法律适用、争议解决方式的条款。</p>
            </li>
            <li>
                <h3>1.2</h3>
                <p>请您审慎阅读并选择同意或不同意本《协议》，除非您接受本《协议》所有条款，否则您无权下载、安装、升级、登陆、显示、运行本软件及其相关服务。您的下载、安装、显示、升级、登陆、运行等行为表明您自愿接受本协议的全部内容并受其约束，不得以任何理由包括但不限于未能认真阅读本协议等作为纠纷抗辩理由。</p>
            </li>
            <li>
                <h3>1.3</h3>
                <p>本《协议》可由保满意随时更新，更新后的协议条款一旦公布即代替原来的协议条款，不再另行个别通知。您可重新下载安装本软件或网站查阅最新版协议条款。在保满意修改《协议》条款后，如果您不接受修改后的条款，请立即停止使用保满意提供的软件和服务，您继续使用保满意提供的软件和服务将被视为已接受了修改后的协议。</p>
            </li>
            <li>
                <h3>1.4</h3>
                <p>本《协议》内容包括但不限于本协议以下内容，针对某些具体服务所约定的管理办法、公告、重要提示、指引、说明等均为本协议的补充内容，为本协议不可分割之组成部分，具有本协议同等法律效力，接受本协议即视为您自愿接受以上管理办法、公告、重要提示、指引、说明等并受其约束；否则请您立即停止使用保满意提供的软件和服务。</p>
            </li>
        </ul>
        <ul>
            <li><h2>二、特殊规定</h2></li>
            <li>
                <h3>2.1</h3>
                <p>未满十八周岁的未成年人不得使用保满意提供的软件和服务，否则产生的一切经济纠纷及法律责任应由监护人承担责任。</p>
            </li>
        </ul>
        <ul>
            <li><h2>三、权利声明</h2></li>
            <li>
                <h3>3.1</h3>
                <p>保满意拥有向最终用户提供内容服务保满意APP,及其服务器端、最终客户端程序、文档的（包括上述内容的升级、改进版本）的所有权和一切知识产权，包括但不限于：</p>
                <ul>
                    <li>
                        <h3>3.1.1</h3>
                        <p>保满意软件及其他物品的著作权、版权、名称权、商标权以及由其派生的各项权利；</p>
                    </li>
                    <li>
                        <h3>3.1.2</h3>
                        <p>保满意中的电子文档、文字、数据库、图片、图标、图示、照片、程序、音乐、色彩、版面设计、界面设计等可从作品中单独使用的作品元素的著作权、版权、名称权、商标权以及由其派生的各项权利；</p>
                    </li>
                    <li>
                        <h3>3.1.3</h3>
                        <p>保满意向用户提供服务过程中所产生并存储于保满意系统中的任何数据（包括但不限于账号、密码等个人专属数据）的所有权；</p>
                    </li>
                    <li>
                        <h3>3.1.4</h3>
                        <p>用户在使用保满意过程中产生的电子文档、文字、图片、照片、色彩、用户界面等可以单独使用的元素，以及由其形成的截屏、录像、录音等衍生品的各项权利。</p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>3.2</h3>
                <p>用户不得为商业运营目的安装、使用、运行保满意APP，不可以对该软件或者该软件运行过程中释放到任何计算机终端内存中的数据及该软件运行过程中客户端与服务器端的交互数据进行复制、更改、修改、挂接运行或创作任何衍生作品，形式包括但不限于使用截屏、插件、外挂或非经授权的第三方工具/服务接入本“软件”和相关系统。</p>
            </li>
            <li>
                <h3>3.3</h3>
                <p>未经保满意书面同意，用户以任何营利性、非营利性或损害保满意利益的目的实施以下几种行为的，保满意保留追究上述未经许可行为一切法律责任的权利，给保满意造成经济或名誉上损失的，保满意有权根据相关法律法规另行要求赔偿，情节严重涉嫌犯罪的，保满意将提交司法机关追究刑事责任：</p>
                <ul>
                    <li>
                        <h3>3.3.1</h3>
                        <p>进行编译、反编译等方式破解该软件作品的行为；</p>
                    </li>
                    <li>
                        <h3>3.3.2</h3>
                        <p>利用技术手段破坏软件系统或者服务器的行为；</p>
                    </li>
                    <li>
                        <h3>3.3.3</h3>
                        <p>利用系统漏洞侵犯保满意利益的行为；</p>
                    </li>
                    <li>
                        <h3>3.3.4</h3>
                        <p>制作线下衍生品的行为；</p>
                    </li>
                    <li>
                        <h3>3.3.5</h3>
                        <p>其他严重侵犯保满意知识产权的行为。</p>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><h2>四、用户基本权利和责任</h2></li>
            <li>
                <h3>4.1</h3>
                <p>用户享有由保满意根据实际情况提供的各种服务，包括但不限于线上优惠、网上论坛、保满意活动等。</p>
            </li>
            <li>
                <h3>4.2</h3>
                <p>用户可以通过在线购买保险产品等方式获得保满意提供的服务，包含但不限于加油服务、洗车服务、保养服务。</p>
            </li>
            <li>
                <h3>4.3</h3>
                <p>用户在线购买并支付至固定账号后至保险合同自然终止前，如因用户主观原因发生商业险全部或部分退保行为，需及时联系保满意客服并确认退保金额，保满意有权要求用户返还未到期责任对应礼品或等值现金，具体执行如下：</p>
                <ul>
                    <li>
                        <h3>4.3.1</h3>
                        <p>加油卡应退还金额=加油卡现金价值*未到期责任天数/365；</p>
                    </li>
                    <li>
                        <h3>4.3.2</h3>
                        <p>自退保生效之日起，系统自动收回尚未使用的洗车红包；</p>
                    </li>
                    <li>
                        <h3>4.3.3</h3>
                        <p>保养红包如果尚未使用，系统自动回收；如果已经使用了，需要退还金额=保养红包现金价值*未到期责任天数/365。</p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>4.4</h3>
                <p>如因用户主观原因拒不履行上述义务，保满意有权保留法律诉讼的权利。</p>
            </li>
            <li>
                <h3>4.5</h3>
                <p>用户认为自己在购买保满意保险服务产品过程中的权益受到侵害，有权根据相应法律法规进行申诉和诉讼。</p>
            </li>
            <li>
                <h3>4.6</h3>
                <p>用户有权对保满意的管理和服务提出批评、意见、建议，有权就客户服务相关工作向客服提出咨询。</p>
            </li>
            <li>
                <h3>4.7</h3>
                <p>用户在使用保满意APP时应遵守中华人民共和国法律、法规，遵守竞技世界公司的相关管理规定（包括但不限于管理办法、禁止性和限制性行为等），并自行承担因个人原因引起的直接或间接法律责任。</p>
            </li>
            <li>
                <h3>4.8</h3>
                <p>保满意仅提供相关的网络服务，除此之外与相关网络服务有关的上网设备(如电脑、调制解调器及其他互联网接入装置)及所需的费用（如为接入互联网而支付的电话费、上网费）均应由用户自行负担。</p>
            </li>
        </ul>
        <ul>
            <li><h2>五、用户账号</h2></li>
            <li>
                <h3>5.1</h3>
                <p>账号注册</p>
                <ul>
                    <li>
                        <h3>5.1.1</h3>
                        <p>保满意根据国家法律法规要求需要用户以真实身份注册成为保满意用户，用户应提供真实身份信息进行注册并保证所提供的个人身份资料信息真实、完整、有效，并依据法律规定和本条款约定对所提供的信息承担相应的法律责任；</p>
                    </li>
                    <li>
                        <h3>5.1.2</h3>
                        <p>账号和昵称注册应符合法律法规和社会公德的要求，不得以党和国家领导人或其他名人的真实姓名、字号、艺名、笔名和不文明、不健康用语注册；</p>
                    </li>
                    <li>
                        <h3>5.1.3</h3>
                        <p>用户以真实身份注册成为保满意用户后，需要修改所提供的个人身份资料信息的，保满意将及时、有效地为您提供该项服务；</p>
                    </li>
                    <li>
                        <h3>5.1.4</h3>
                        <p>账户所有权归属于保满意，用户享有该账户在平台运营期间的使用权。</p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>5.2</h3>
                <p>用户账号使用与保管</p>
                <ul>
                    <li>
                        <h3>5.2.1</h3>
                        <p>保满意有权审查用户注册所提供的身份信息是否真实、有效，并应积极地采取技术与管理等合理措施保障用户账号的安全、有效；用户有义务妥善保管其账号及密码，并根据保满意的要求正确、安全地使用其账号及密码。因黑客行为或用户保管疏忽等非保满意过错导致帐号、密码遭他人非法使用，保满意不承担任何责任；</p>
                    </li>
                    <li>
                        <h3>5.2.2</h3>
                        <p>用户对登录后所持账号产生的行为依法享有权利和承担责任；</p>
                    </li>
                    <li>
                        <h3>5.2.3</h3>
                        <p>用户发现其账号或密码被他人非法使用或有使用异常的情况的，应及时根据保满意公布的账号申述规则通知保满意，并有权通知保满意采取措施暂停该账号的登录和使用；</p>
                    </li>
                    <li>
                        <h3>5.2.4</h3>
                        <p>保满意根据用户的通知采取措施暂停用户账号的登录和使用的，保满意有权要求用户提供并核实与其注册身份信息相一致的个人有效身份信息。用户没有提供其个人有效身份证件或者用户提供的个人有效身份证件与所注册的身份信息不一致的，保满意有权拒绝用户上述请求。</p>
                    </li>
                </ul>
            </li>
        </ul>   
        <ul>
            <li><h2>六、用户信息保护</h2></li>
            <li>
                <h3>6.1</h3>
                <p>保满意将保护用户提供的有效个人信息数据的安全。不对外向任何第三方提供、公开或共享用户注册资料中的姓名、个人有效身份证件号码、联系方式、家庭住址等个人身份信息，但下列情况除外：</p>
                <ul>
                    <li>
                        <h3>6.1.1</h3>
                        <p>用户或用户监护人授权披露的；</p>
                    </li>
                    <li>
                        <h3>6.1.2</h3>
                        <p>有关法律要求披露的；</p>
                    </li>
                    <li>
                        <h3>6.1.3</h3>
                        <p>司法机关或行政机关基于法定程序要求提供的；</p>
                    </li>
                    <li>
                        <h3>6.1.4</h3>
                        <p>保满意为了维护自己合法权益而披露。</p>
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><h2>七、服务的中止与终止</h2></li>
            <li>
                <h3>7.1</h3>
                <p>用户实施或有重大可能实施以下行为的，保满意有权中止对其部分或全部服务，中止提供服务的方式包括但不限于暂停对该账号的登录和使用：</p>
                <ul>
                    <li>
                        <h3>7.1.1</h3>
                        <p>提供虚假注册身份信息的行为；</p>
                    </li>
                    <li>
                        <h3>7.1.2</h3>
                        <p>发布不道德信息、广告、言论、辱骂骚扰他人，扰乱正常的平台秩序的行为；</p>
                    </li>
                    <li>
                        <h3>7.1.3</h3>
                        <p>实施违反本协议和相关规定、管理办法、公告、重要提示，对保满意和其他用户利益造成损害的其他行为。</p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>7.2</h3>
                <p>用户实施或有重大可能实施以下不正当行为的，保满意有权终止对用户提供服务，终止提供服务的方式包括但不限于永久性的删除该账号、发表的帖子、留言、将非法所得的服务清零：</p>
                <ul>
                    <li>
                        <h3>7.2.1</h3>
                        <p>发布违法信息、严重违背社会公德、以及其他违反法律禁止性规定的行为；</p>
                    </li>
                    <li>
                        <h3>7.2.2</h3>
                        <p>用非法手段盗取其他用户账号和的行为；</p>
                    </li>
                    <li>
                        <h3>7.2.3</h3>
                        <p>使用保满意APP中传播非法讯息、木马病毒、外挂软件等的行为；</p>
                    </li>
                    <li>
                        <h3>7.2.4</h3>
                        <p>利用恶意手段不当得利，严重侵犯保满意利益的行为；</p>
                    </li>
                    <li>
                        <h3>7.2.5</h3>
                        <p>发布不道德信息、广告、言论、辱骂骚扰他人，严重扰乱正常的平台秩序的行为；</p>
                    </li>
                    <li>
                        <h3>7.2.6</h3>
                        <p>实施违反本协议和相关规定、管理办法、公告、重要提示，对保满意和其他用户利益造成严重损害的其他行为。</p>
                    </li>
                </ul>
            </li>
            <li>
                <h3>7.3</h3>
                <p>本协议中未涉及到的禁止或限制性行为及处罚规则，由保满意针对具体服务制定相关规定、管理办法、公告、重要提示、指引、说明等，视为本协议之补充协议，为本协议不可分割之组成部分，具有本协议同等法律效力，接受本协议即视为用户自愿接受相关规定、管理办法、公告、重要提示、指引、说明等并受其约束。</p>
            </li>
        </ul>
        <ul>
            <li><h2>八、免责条款</h2></li>
            <li>
                <h3>8.1</h3>
                <p>用户车辆的保险理赔及保险公司提供的增值服务，由相应保险公司负责，保满意不承担任何责任。</p>
            </li>
            <li>
                <h3>8.2</h3>
                <p>用户因其个人原因造成账号资料保管不妥而导致个人信息数据被他人泄露造成损失的，保满意不承担任何责任。</p>
            </li>
            <li>
                <h3>8.3</h3>
                <p>用户因除了按协议规则行为外的其他行为触犯了中华人民共和国法律法规的，责任自负，保满意不承担任何责任。</p>
            </li>
            <li>
                <h3>8.4</h3>
                <p>用户因违反本协议7.1、7.2条款而被保满意采取处罚措施所产生的一切损失均由用户个人承担，保满意不承担任何责任。</p>
            </li>
            <li>
                <h3>8.5</h3>
                <p>基于网络环境的复杂性，保满意不担保服务一定能满足用户的要求，也不保证各项服务不会中断，对服务的及时性、安全性也不作担保。因网络安全、网络故障问题和其他用户的非法行为给用户造成的损失，保满意不承担任何责任。</p>
            </li>
            <li>
                <h3>8.6</h3>
                <p>基于网络环境的特殊性，保满意不担保对用户限制性行为和禁止性行为的判断的准确性，用户因此产生的任何损失保满意不承担任何责任，用户可按保满意相关规定进行申诉解决。</p>
            </li>
        </ul>
        <ul>
            <li><h2>九、法律适用和争议解决</h2></li>
            <li>
                <p>本协议的订立、效力、解释、履行和争议的解决均适用中华人民共和国法律。因本协议所产生的以及因履行本协议而产生的任何争议，双方均应本着友好协商的原则加以解决。协商解决未果，任何一方有权向人民法院提请审理。</p>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="../../public/dist/js/script/Zepto.js"></script>
    <script type="text/javascript" src="../../public/dist/js/config.js"></script>
    <script type="text/javascript" src="../../public/dist/js/app.js"></script>
</body>
</html>