<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/head.css">
    <title>车险购买步骤</title>
    <style>
        .card-prodimg,.product-card{
            margin-bottom: 0;
        }
        *{
            font-family: "微软雅黑";
            font-weight: bold;
        }
        .product-card h1{
            font-weight: 700;
        }
        .card-prodimg{
            padding: 1rem 6.6rem;
        }
    </style>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <div class="content">
                <div class="card-block product-card">
                    <h1>第一步：填写车牌号信息，如下图所示，然后点击下一步。</h1>
                </div>
                <div class="card-block product-wrap card-prodimg" >
                    <img src="../../public/images/news/t1.png">
                </div>

                <div class="card-block product-card">
                    <h1>第二步：如果出现图2中的情况，请点击一键修正，然后会自动出现图3的信息。</h1>
                </div>
                <div class="card-block product-wrap card-prodimg" style="padding: 1rem 0">
                    <img src="../../public/images/news/t14.png" style="width: 49%;float: left;;padding-bottom: 2rem;">
                    <img src="../../public/images/news/t15.png" style="width: 49%;float: right;padding-bottom: 2rem;">
                </div>
                <div class="card-block product-card">
                    <h1 style="font-weight: 400;margin-bottom: 2.3rem;">点击图3中的标识内容，选择相应车型后，点击下一步即可进行多家车险报价。</h1>
                    <h1>第三步：点击下图右上角，可进行修改险别。</h1>
                </div>
                <div class="card-block product-wrap card-prodimg">
                    <img src="../../public/images/news/t3.png">
                </div>

                <div class="card-block product-card">
                    <h1 style="font-weight: 400"> 选好险别后，可点击上图右箭头进行展开购买，点击继续按钮即可，如下图。</h1>
                </div>
                <div class="card-block product-wrap card-prodimg">
                    <img src="../../public/images/news/t4.png">
                </div>

                <div class="card-block product-card">
                    <h1>第四步：填入车主信息及手机号，获取验证码登录，即可获得精确报价。</h1>
                </div>
                <div class="card-block product-wrap card-prodimg">
                    <img src="../../public/images/news/t5.png">
                </div>

                <div class="card-block product-card">
                    <h1>第五步：选择合适保险，点击购买，进入核保环节。</h1>
                </div>
                <div class="card-block product-wrap card-prodimg">
                    <img src="../../public/images/news/t6.png">
                </div>

                <div class="card-block product-card">
                    <h1>第六步：核保通过，进入支付页面，填写相关信息，点击支付，进入付款页面。</h1>
                </div>
                <div class="card-block product-wrap card-prodimg">
                    <img src="../../public/images/news/t13.png">
                </div>

                <div class="card-block product-card">
                    <h1>第七步：选择支付方式进行最后的车险支付。</h1>
                </div>
                <div class="card-block product-wrap card-prodimg">
                    <img src="../../public/images/news/t11.png">
                </div>

                <div class="card-block product-card">
                    <h1 style="font-weight: 400">注：若您购买中途退出，则再次进入购买页面时会出现下图提醒，您可以选择放弃或者查看（继续购买）。</h1>
                </div>
                <div class="card-block product-wrap card-prodimg">
                    <img src="../../public/images/news/t12.png" style="margin-bottom: 2rem">
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../../public/dist/js/script/Zepto.js"></script>
    <script type="text/javascript" src="../../public/dist/js/config.js"></script>
    <script type="text/javascript" src="../../public/dist/js/buy.js"></script>
</body>
</html>