<!--大都会超值自驾车意外险-->
<!--Created by Funky on 16/12/27.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="../../../public/dist/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../../public/dist/css/head.css">
    <title>大都会超值自驾车意外险</title>
</head>
<body>
    <!--主要内容-->
    <div class="page-group">
        <div class="page page-current">
            <div class="content">
                <!--大都会顶部图片及主标题-->
                <div class="card-block product-card">
                    <div class="banner-zjc"></div>
                    <h1>超值自驾车意外险</h1>
                    <p>全年最高50万全额自驾险，驾驶乘坐均可保，自驾畅游更放心</p>
                </div>

                <!--产品价格-->
                <div class="card-block product-wrap">
                    <div class="flex-wrap is-spread">
                        <em class="product-price">￥5.3元/份</em>
                    </div>
                </div>

                <!--承保年龄,保险期间-->
                <div class="card-block product-wrap">
                    <div class="flex-wrap bod-botm">
                        <div class="item-title">承保年龄：18-75周岁</div>
                    </div>
                    <div class="flex-wrap">
                        <div class="item-title">保险期间：364天</span></div>
                    </div>
                </div>

                <!--投保地区,保额-->
                <div class="card-block product-wrap">
                    <div class="flex-wrap bod-botm">
                        <div class="item-title">投保地区</div>
                        <div class="item-input">
                            <input type="text" id="city-type" placeholder="请选择投保地区 >" readonly="readonly">
                        </div>
                    </div>

                    <div class="flex-wrap">
                        <div class="item-title">保额</div>
                        <div class="item-input">
                            <input type="text"  placeholder="请选择保额 >" id="coverage-price" readonly="readonly">
                        </div>
                    </div>
                </div>

                <!--保障范围-->
                <div class="card-block product-wrap">
                    <h1 class="insure-title bod-botm">
                        <i class="iconfont icon-coverage"></i>
                        保障范围
                    </h1>
                    <div class="flex-wrap bod-botm detail-show" data-id="1">
                        <div class="item-title">自驾车意外身故</div>
                        <div class="item-content" id="death">
                            10万元
                            <i class="iconfont icon-arrow-down"></i>
                        </div>
                    </div>
                    <div class="item-detail" data-id="1">
                        被保险人驾驶或乘坐自驾车中发生意外伤害事故，并
                        因此单独或直接导致身故，给付身故保险金。
                    </div>
                    <div class="flex-wrap bod-botm detail-show" data-id="2">
                        <div class="item-title">自驾车意外伤残</div>
                        <div class="item-content" id="disabled">
                            1万元
                            <i class="iconfont icon-arrow-down"></i>
                        </div>
                    </div>
                    <div class="item-detail" data-id="2">
                        若被保险驾驶或乘坐自驾车中发生意外伤害事故，并
                        因此单独或直接导致身故，按照合同约定的伤残赔付
                        比例*保险金额*10%给付残疾保险金。
                    </div>
                </div>

                <!--投保须知,保险条款-->
                <div class="card-block product-wrap">
                    <a href="bmy://app.page/document/?docAddress=/public/pdf/ddh/付费险投保须知-全国-任我行自驾车.pdf" target="_blank" id="js-zygz">
                        <div class="flex-wrap bod-botm">
                            <div class="item-title">投保须知</div>
                            <div class="item-content">
                                <i class="iconfont icon-arrow-right"></i>
                            </div>
                        </div>
                    </a>
                    <a href="bmy://app.page/document/?docAddress=/public/pdf/ddh/SPA209条款-中美联泰大都会人寿保险有限公司自驾车意外伤害保险.pdf" target="_blank" id="js-bxtk">
                        <div class="flex-wrap bod-botm">
                            <div class="item-title">保险条款</div>
                            <div class="item-content"><i class="iconfont icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>

                <!--图片介绍信息-->
                <div class="card-block product-wrap card-prodimg">
                    <img src="../../../public/images/product/ddh/ddh_zjc.png">
                </div>

            </div>
        </div>
    </div>

    <!--底部固定按钮-->
    <div class="btn-insure">
        <a href="bmy://app.call/phone?phone=4001630099" class="js-kefu">
            <i class="iconfont icon-service"></i>
        </a>
        <em class="insure-price">￥5.3元</em>
        <div class="to-insure">立即投保</div>
    </div>

    <script type="text/javascript" src="../../../public/dist/js/script/Zepto.js"></script>
    <script type="text/javascript" src="../../../public/dist/js/config.js"></script>
    <script type="text/javascript" src="../../../public/dist/js/buy.js"></script>
    <script type="text/javascript" src="../../../public/dist/js/city/citypicker03.min.js"></script>
    <!--<script type="text/javascript" src="../../../public/debug/js/buy/ddhsx.js"></script>-->

    <script>
        var myDetail;
        var url = window.location.href.match(/type=.([^&]*)/);
        GetTel();
        //判断type是否等于1 若等于1 则说明是分享出去的
        if(url&&url[0].substr(5)==1){
            $(".js-kefu").attr("href",kf_phone);
            $("#js-zygz").attr('href','../../../public/pdf/ddh/付费险投保须知-全国-任我行自驾车.pdf');
            $("#js-bxtk").attr('href','../../../public/pdf/ddh/SPA209条款-中美联泰大都会人寿保险有限公司自驾车意外伤害保险.pdf');
            var userId = window.location.href.match(/userId=.([^&]*)/)[0].substr(7);
            var code = window.location.href.match(/code=.([^&]*)/)?window.location.href.match(/code=.([^&]*)/)[0].substr(5):0;//微信认证登录后自动在url上加上code，code有有效期，用一次过期
            var eUid = window.location.href.match(/eUid=.([^&]*)/)[0].substr(5);//加密的userId
            var hk = localStorage.getItem("hkzjc")=="161228403"?1:0;
            localStorage.setItem("shareType","2");
            localStorage.setItem("eUid",eUid);
            if(code&&!hk){
                 var myoc = new ObtainClient({
                     user_id: userId,
                     code: code,
                     share_title: '大都会超值自驾车意外险',
                     share_id: 161228403,
                     share_type: 2
                 });
                 myoc.init();
                 localStorage.setItem("hkzjc","161228403")
             }

            //点击立即投保按钮
            var flag = 1;
            var userInfo = localStorage.getItem("userInfo")?localStorage.getItem("userInfo"):0;
            $(".to-insure").on("tap",function(){

                if (isWeiXin()){
                    var notice = '<div class="layer-share showbox" style="z-index: 60000">请在浏览器中打开链接下载 <img src="../../../public/images/public/arrow.png" style="width:3.3rem;"></div>';
                    $("body").append(notice);
                    return;
                }

                //检测是否选择了 投保地区
                var myDetail = new DetailZJC();
                if(!myDetail.test()){return;}
                 if(userInfo){
                     userInfo = userInfo.split(",");
                     if(flag){
                         flag = 0;
                         $.post('//'+domain.jc+'/user/get_token/check_token',{token:userInfo[0]}, function (re) {
                         flag = 1;
                         if(re.code == '0001000'){
                             //缓存投保地区
                             localStorage.setItem("zjc-city", $("#city-type").val());
                             //缓存保额
                             localStorage.setItem("zjc-coverageprice", $("#coverage-price").val());
                            window.location.href = "ddh_insure.html?type=1&userId="+userId;
                         }else{
                            window.location.href = "../../user/login.html";
                         }
                     },'json');
                     }
                 }else{
                    window.location.href = "../../user/login.html";
                 }
             });

            //获取购买类产品返现额度
             myDetail = new DetailZJC({
                 productId:161228403,
                 token:userInfo[0],
                 share:true
             });
            myDetail.init();

             $("body").append(CNZZ);
        }

        function accept(rs){
            var json = $.parseJSON(rs);
            myDetail = new DetailZJC({
                enterid:json.enterId,
                userId:json.userId,
                eUid:json.encryptUid,
                productId:161228403,
                token:json.token,
                share:false
            });
            myDetail.init();
        }

        function acceptShare(){
            myDetail.sharepage();
        }

    </script>
</body>


</html>