<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
 	<link rel="stylesheet" type="text/css" href="../../public/dist/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/head.css">
    <title>保满意-吉祥年综合意外伤害</title>
</head>
<body class="bodyColor-White">
    <div class="info-wrap">
        <img src="../../public/images/news/pic1.png">
        <img src="../../public/images/news/pic2.png" alt="">
        <img src="../../public/images/news/pic3.png" alt="">
        <div class="position">
            <a href="../../public/pdf/附件5-2 吉祥年综合意外伤害保险（2015）条款.pdf" class="link-pdf2"></a>
            <img src="../../public/images/news/pic4.png" alt="">
        </div>
    </div>
    <script type="text/javascript" src="../../public/dist/js/script/Zepto.js"></script>
    <script type="text/javascript" src="../../public/dist/js/config.js"></script>
    <script type="text/javascript" src="../../public/dist/js/app.js"></script>
    
</body>
</html>