<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/head.css">
    <title>问答详情</title>
</head>
<body>
    <div class="news-wrap answer-wrap">
        <div class="question-info">
            <img src="../../public/images/public/default_avator_img.png" class="question-photo">
            <div class="question-detail"></div>
            <div class='question-money'></div>
        </div>
        <div class="news-content"></div>
        <div class="answer-type"></div>
    </div>
    <div class="answer-info-bar">
        <div class="answer-info answer-info-help"></div>
        <div class="answer-info answer-info-comment"></div>
        <div class="answer-info answer-info-scan"></div>
    </div>
    <ul class="answer-list"></ul>
    <div class="share-bar">
        <img src="../../public/images/public/down_logo.png" class="share-logo">
        <div class="share-word">
            <h3>保满意APP</h3>
            <p>买车险就用保满意</p>
        </div>
        <div class="share-control">
            <a href="javascript:;" class="rightnow-open">立即打开</a>
            <img src="../../public/images/public/close.png" class="share-close"> 
        </div>
    </div>
    <div class="comment-block clearfix">
        <div class="reply-answer" id="getReply">我要回答……</div>
        <div class="user-behavior">
            <i class="iconfont icon-share"></i>
            <i class="iconfont icon-uncollect collect-i"></i>
        </div>
    </div>
    <div class="answer-box">
        <div class="answer-contxt">
            <textarea class="question-main" id="question-con" placeholder="请输入回复内容" onkeyup='countChar("#question-con","#counter");'></textarea>
            还可以输入<em id="counter">150</em>个字
        </div>
        <div class="question-lab">
            <span id="btn-issue" class="btn btn-issue">提交</span>
            <span id="btn-cancleissue" class="btn btn-cancle">取消</span>          
        </div>
    </div>
    <div class="mask-layer"></div>
    <div class="layer-share">请在浏览器中打开链接下载 <img src="../../public/images/public/arrow.png" style="width:3.3rem;"></div>
    <script type="text/javascript" src="../../public/dist/js/script/Zepto.js"></script>
    <script type="text/javascript" src="../../public/dist/js/config.js"></script>
    <script type="text/javascript" src="../../public/dist/js/app.js"></script>
    <script>
        var url = window.location.href.match(/type=.([^&]*)/);
        var ag,id,userId;

        if(url&&url[0].substr(5)==1){
            var getid = window.location.href.match(/id=.([^&]*)/)[0].substr(3);
            var userId = window.location.href.match(/userId=.([^&]*)/)[0].substr(7);
            var code = window.location.href.match(/code=.([^&]*)/)?window.location.href.match(/code=.([^&]*)/)[0].substr(5):0;
            
            var arry = arry||[];
            var flag = 0;

            if(code){
                arry = localStorage.getItem("hkwd");
                if(arry){
                    var b = arry.split(",");
                    for(var i=0; i<b.length; i++){
                        flag = b[i] == id ? 1 : 0 ;
                    }
                }

                
                if(!flag){
                    var myoc = new ObtainClient({
                        user_id: userId,
                        code: code,
                        share_title: "有个问题邀你来围观……",
                        share_id: getid,
                        share_type: -1
                    });
                    myoc.init();

                    arry = arry?arry+","+getid:getid;
                    localStorage.setItem("hkwd",arry)
                }
            }

            $(".comment-block").css("display","none");
            $(".share-bar").css("display","block");
            new QusAnswer({
                id:getid,
                share: true
            })
            $(".rightnow-open").on("tap",function(){
                if(isWeiXin()){
                    $(".layer-share").css("display","block");
                }else{
                    new OpenApp({});     
                }
                $(".layer-share").on("tap",function(){
                    $(this).css("display","none");
                })
            });
            $("body").append(CNZZ);
        }

        function accept(rs){
            var json = $.parseJSON(rs);
            id = json.id;
            userId = json.userId;
            new QusAnswer({
                id:json.id,
                token:json.token,
                user_id:json.userId
            })
        }
        $(function(){
            $(".icon-share").on("tap",function(){
                var json = {
                    "title":"有个问题邀你来围观……", 
                    "content":$(".news-content").text(),  
                    "linkUrl":location.href+"&id="+id+'&type=1&userId='+userId,
                    "img":null
                };
                var share = JSON.stringify(json);
                if (navigator.userAgent.match(/(iPhone|iPod|iPad)/i)) {
                    window.webkit.messageHandlers.share.postMessage(share)
                } else if (navigator.userAgent.match(/android/i)) {
                    window.bmy.share(share)
                }
            })
        })

    </script>
</body>
</html>