<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="/public/dist/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/dist/css/head.css">
    <title>健康告知</title>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <header class="bar bar-nav head-bar"><a href="bmy://app.page/pageReturn" class="back"><i class="iconfont icon-arrow-left"></i></a>健康告知</header>
            <div class="content">
                <div class="yg-jkgz-wrap">
                    <h2 class="jkgz-title bod-botm">请您如实回答以下问题</h2>
                    <ul class="list-jkgz">
                        <li class="bod-botm">
                            <h3>一、如果被保人年龄在3岁以下，请确认被保人是否患有以下1-4项所列情况或疾病：</h3>
                            <p>1、 您在过去投保人身保险时，或在申请保全复效时，曾否被拒保、延期、加费或对条款做特别约定，或申请过理赔？</p>
                            <p>2、 您在过去一年内是否有反复头痛、胸痛、咳血、气喘、肝区不适、腹痛、血尿、便血、紫瘢等情况？是否有体重减轻超过5公斤（非健身或减肥原因）？ 是否有体表或体内肿块、息肉、结节、黑痣增大、淋巴结肿大？</p>
                            <p>3、 您在过去两年内是否因健康检查或身体异常而被医生建议住院或手术（包括住院手术、门诊手术、内窥镜手术）？</p>
                            <p>4、 是否曾患有或被告知患有下列症状或疾病：</p>
                            <ul>
                                <li>（1）先天性疾病，遗传性疾病，五官、脊柱、胸廓、四肢畸形、残疾或功能障碍、失聪、失明，瘫痪，Ⅲ度烧伤；</li>
                                <li>（2）智能障碍，精神疾病，癫痫，脑炎后遗症或脑膜炎后遗症，脑损伤，脑肿瘤；</li>
                                <li>（3）恶性肿瘤，艾滋病及HIV呈阳性，红斑狼疮，曾经接受或需要接受开颅、开胸、器官移植或骨髓移植手术；</li>
                                <li>（4）严重呼吸系统疾病（新生儿窒息，新生儿肺炎，肺动脉高压，严重哮喘）；</li>
                                <li>（5）严重心脑血管疾病（先天性心脏病，心肌病，心功能不全，新生儿颅内出血）；</li>
                                <li>（6）严重肝脏系统疾病（乙肝大三阳，丙肝，急性或亚急性重症肝炎，肝功能衰竭）；</li>
                                <li>（7）严重肾脏疾病（肾病综合症、肾功能不全、尿毒症、多囊肾）；</li>
                                <li>（8）糖尿病，新生儿病理性黄疸，脊髓灰质炎，运动神经元病，血液病（白血病，再生障碍性贫血），川崎病，类风湿性关节炎，肌营养不良症；</li>
                                <li>（9）早产，难产，过期产，出生时体重低于2公斤，体重不增或增长缓慢，高热惊厥，未按时接种。</li>
                            </ul>
                        </li>
                        <li class="bod-botm">
                            <h3>二、如果被保人年龄在3岁（含）以上16岁以下请确认被保人是否患有以下1-4项所列情况或疾病：</h3>
                            <p>1、 您在过去投保人身保险时，或在申请保全复效时，曾否被拒保、延期、加费或对条款做特别约定，或申请过理赔？</p>
                            <p>2、 您在过去一年内是否有反复头痛、胸痛、咳血、气喘、肝区不适、腹痛、血尿、便血、紫瘢等情况？是否有体重减轻超过5公斤（非健身或减肥原因）？ 是否有体表或体内肿块、息肉、结节、黑痣增大、淋巴结肿大？</p>
                            <p>3、 您在过去两年内是否因健康检查或身体异常而被医生建议住院或手术（包括住院手术、门诊手术、内窥镜手术）？</p>
                            <p>4、 是否曾患有或被告知患有下列症状或疾病：</p>
                            <ul>
                                <li>（1）先天性疾病，遗传性疾病，五官、脊柱、胸廓、四肢畸形、残疾或功能障碍、失聪、失明，瘫痪，Ⅲ度烧伤；</li>
                                <li>（2）智能障碍，精神疾病，癫痫，脑肿瘤、脑炎后遗症或脑膜炎后遗症，脑损伤，脑血管瘤，脑动脉瘤，脑囊肿，深度昏迷，多发性硬化，重症肌无力，运动神经元病，阿尔茨海默病，帕金森病；</li>
                                <li>（3）恶性肿瘤，原位癌，艾滋病及HIV呈阳性，吸食、注射成瘾性药物或毒品，红斑狼疮，曾经接受或需要接受开颅、开胸手术，骨髓移植手术，器官移植手术或器官切除手术；</li>
                                <li>（4）严重呼吸系统疾病（终末期肺病，肺纤维化，肺动脉高压，支气管扩张，慢性肺结核，严重哮喘）；</li>
                                <li>（5）严重心脑血管疾病（血压高于160/95mmHg，冠心病，心绞痛、心肌梗塞，心肌炎，心肌病，肺心病，风湿性心脏病，心功能不全，主动脉瘤，脑梗塞，脑出血）；</li>
                                <li>（6）严重肝脏疾病（乙肝大三阳，转氨酶高于正常值2倍以上，丙肝，酒精性肝炎，肝硬化，肝功能衰竭）；</li>
                                <li>（7）严重肾脏疾病（肾病综合症，肾功能不全，尿毒症，多囊肾，肾上腺疾病）；</li>
                                <li>（8）糖尿病，血液病（白血病，再生障碍性贫血），川崎病，何杰金氏病，类风湿性关节炎，硬皮病，肌营养不良症；</li>
                                <li>（9）胰腺疾病，溃疡性结肠炎，硬化性胆管炎。</li>
                            </ul>
                        </li>
                        <li>
                            <h3>三、如果被保人年龄在16岁（含）以上，请确认被保人是否患有以下1-8项所列情况或疾病：</h3>
                            <p>1、 您在过去投保人身保险时，或在申请保全复效时，曾否被拒保、延期、加费或对条款做特别约定，或申请过理赔？</p>
                            <p>2、 您曾否使用任何成瘾药物、麻醉剂或接受戒毒治疗？</p>
                            <p>3、 您是否每日饮啤酒大于3瓶或者白酒3两？</p>
                            <p>4、 您是否每日吸烟大于20支/日？</p>
                            <p>5、 您有无职业病，如尘肺、矽肺、石棉肺、各种慢性中毒等？</p>
                            <p>6、 您在过去一年内是否有反复头痛、胸痛、咳血、气喘、肝区不适、腹痛、血尿、便血、紫瘢等情况？是否有体重减轻超过5公斤（非健身或减肥原因）？ 是否有体表或体内肿块、息肉、结节、黑痣增大、淋巴结肿大？</p>
                            <p>7、 您在过去两年内是否因健康检查或身体异常而被医生建议住院或手术（包括住院手术、门诊手术、内窥镜手术）？</p>
                            <p>8、 是否曾患有或被告知患有下列症状或疾病：</p>
                            <ul>
                                <li>（1）先天性疾病，遗传性疾病，五官、脊柱、胸廓、四肢畸形、残疾或功能障碍、失聪、失明，瘫痪，Ⅲ度烧伤；</li>
                                <li>（2）智能障碍，精神疾病，癫痫，脑肿瘤、脑炎后遗症或脑膜炎后遗症，脑损伤，脑血管瘤，脑动脉瘤，脑囊肿，深度昏迷，多发性硬化，重症肌无力，运动神经元病，阿尔茨海默病，帕金森病；</li>
                                <li>（3）恶性肿瘤，原位癌，艾滋病及HIV呈阳性，吸食、注射成瘾性药物或毒品，红斑狼疮，曾经接受或需要接受开颅、开胸手术，骨髓移植手术，器官移植手术或器官切除手术；</li>
                                <li>（4）严重呼吸系统疾病（终末期肺病，肺纤维化，肺动脉高压，支气管扩张，慢性肺结核，严重哮喘）；</li>
                                <li>（5）严重心脑血管疾病（血压高于160/95mmHg，冠心病，心绞痛、心肌梗塞，心肌炎，心肌病，肺心病，风湿性心脏病，心功能不全，主动脉瘤，脑梗塞，脑出血）；</li>
                                <li>（6）严重肝脏疾病（乙肝大三阳，转氨酶高于正常值2倍以上，丙肝，酒精性肝炎，肝硬化，肝功能衰竭）；</li>
                                <li>（7）严重肾脏疾病（肾病综合症，肾功能不全，尿毒症，多囊肾，肾上腺疾病）；</li>
                                <li>（8）糖尿病，血液病（白血病，再生障碍性贫血），川崎病，何杰金氏病，类风湿性关节炎，硬皮病，肌营养不良症；</li>
                                <li>（9）胰腺疾病，溃疡性结肠炎，硬化性胆管炎。</li>
                            </ul>
                            <p>9、女性适用（女性必须告知此项）：您是否患有以下（1）-（2）所列疾病：</p>
                            <ul>
                                <li>（1）您是否怀孕28周以上或产后不满一个月？</li>
                                <li>（2）曾否被建议做宫颈涂片、乳房检查、乳房X光检查或乳房活组织检查并发现检查结果异常？</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="flex-wrap">
                    <div class="btn-orange">以上情况全无</div>
                    <div class="btn-grey">部分情况有</div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/public/dist/js/script/Zepto.js"></script>
    <script type="text/javascript" src="/public/dist/js/config.js"></script>
    <script type="text/javascript" src="/public/dist/js/buy.js?v=1"></script>
    <script>
        var url = window.location.href.match(/type=.([^&]*)/);

        if(url&&url[0].substr(5)==1){
            var name = window.location.href.match(/name=.([^&]*)/)[0].substr(5);
            var userId = window.location.href.match(/userId=.([^&]*)/)[0].substr(7);
            var url = "/view/product_life/ygsx/"+name+"_insure.html";
            $(".back").attr("href","#");

            $(".btn-orange").on("tap",function () {
                window.location.href = url+"?type=1&userId="+userId;
            });
            $(".btn-grey").on("tap",function(){
                popAlert("被保人不符合此产品的健康要求，无法投保此产品");
                setTimeout(function(){
                    window.history.go(-2)
                },1500)
            })
        }

        function accept(rs){
            var json = $.parseJSON(rs);

            var url = "/view/product_life/ygsx/"+json.name+"_insure.html?inject=all";
            $(".btn-orange").on("tap",function () {
                window.location.href = "bmy://app.page/life/nextpage?url="+url+"&isH5navBar=1";
            });
            $(".btn-grey").on("tap",function(){
                popAlert("被保人不符合此产品的健康要求，无法投保此产品");
                setTimeout(function(){
                    window.location.href = "bmy://app.page/pageTwoReturn"
                },1500)
            })
        }
    </script>
    
</body>
</html>