<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="/public/dist/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/public/dist/css/head.css">
    <title>阳光人生随e保定期寿险</title>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <div class="content">
                <div class="card-block product-card">
                    <div class="banner-ygrs"></div>
                    <h1>阳光人生随e保定期寿险</h1>
                    <p>最多可保障百万身价，最长可保至100周岁，保费低，性价比高</p>
                </div>
                <div class="card-block product-wrap">
                    <div class="flex-wrap is-spread">
                    </div>
                </div>
                <div class="card-block product-wrap">
                    <div class="flex-wrap bod-botm">
                        <div class="item-title">承保年龄：18-50周岁</div>
                    </div>
                    <div class="flex-wrap">
                        <div class="item-title">保险期间：10年/15年/20年/25年/30年<span class="otherline">至70/80/100周岁</span></div>
                    </div>
                </div>
                <div class="card-block product-wrap">
                    <h1 class="insure-title bod-botm"><i class="iconfont icon-coverage"></i>保障范围</h1>
                    <div class="flex-wrap bod-botm detail-show" data-id="1">
                        <div class="item-title">意外身故</div>
                        <div class="item-content">5-100万元<i class="iconfont icon-arrow-down"></i></div>
                    </div>
                    <div class="item-detail" data-id="1">
                        若保单第一年意外身故只赔偿50%保险金，若保单第二年开始后意外身故则赔偿100%赔偿金
                    </div>
                    <div class="flex-wrap bod-botm detail-show" data-id="2">
                        <div class="item-title">疾病身故</div>
                        <div class="item-content">5-100万元<i class="iconfont icon-arrow-down"></i></div>
                    </div>
                    <div class="item-detail" data-id="2">
                        若保单第一年疾病身故只退还已交保费，若保单第二年开始后疾病身故则赔偿100%保险金，如被认定处于生命末期可提前支取60%保险金
                    </div>
                </div>
                <div class="card-block product-wrap">
                    <a href="bmy://app.page/document/?docAddress=/public/pdf/ygrs/投保须知.docx" target="_blank" id="js-zygz">
                        <div class="flex-wrap bod-botm">
                            <div class="item-title">投保须知</div>
                            <div class="item-content"><i class="iconfont icon-arrow-right"></i></div>
                        </div>
                    </a>
                    <a href="bmy://app.page/document/?docAddress=/public/pdf/ygrs/02阳光人寿关爱e生定期寿险条款.pdf" target="_blank" id="js-bxtk">
                        <div class="flex-wrap bod-botm">
                            <div class="item-title">保险条款</div>
                            <div class="item-content"><i class="iconfont icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
                <div class="card-block product-wrap card-prodimg">
                    <img src="/public/images/product/ygsx/ygrs_1.png">
                    <img src="/public/images/product/ygsx/ygrs_2.png">
                    <img src="/public/images/product/ygsx/ygrs_3.png">
                    <div class="position">
                        <a href="bmy://app.page/document/?docAddress=/public/pdf/ygrs/03阳光人寿关爱e生定期寿险费率表.xls" class="ygrs-flb"></a>
                        <img src="/public/images/product/ygsx/ygrs_4.png">
                    </div>
                    <img src="/public/images/product/ygsx/ygrs_5.png">
                    <img src="/public/images/product/ygsx/ygrs_6.png">
                    <img src="/public/images/product/ygsx/ygrs_7.png">
                    <img src="/public/images/product/ygsx/ygrs_8.png">
                    <img src="/public/images/product/ygsx/ygrs_9.png">
                </div>
            </div>
        </div>
    </div>
    <div class="btn-insure">
        <a href="bmy://app.call/phone?phone=4001630099" class="js-kefu"><i class="iconfont icon-service"></i></a>
        <em class="insure-price"></em>
        <div class="to-insure">立即投保</div>
    </div>
    <script type="text/javascript" src="/public/dist/js/script/Zepto.js"></script>
    <script type="text/javascript" src="/public/dist/js/config.js"></script>
    <script type="text/javascript" src="/public/dist/js/buy.js"></script>
    <script>
        var myDetail;
        var url = window.location.href.match(/type=.([^&]*)/);
        GetTel();
        if(url&&url[0].substr(5)==1){
            $(".js-kefu").attr("href",kf_phone);
            $("#js-zygz").attr('href','/public/pdf/ygrs/投保须知.docx');
            $("#js-bxtk").attr('href','/public/pdf/ygrs/02阳光人寿关爱e生定期寿险条款.pdf');
            $(".ygrs-flb").attr('href','/public/pdf/ygrs/03阳光人寿关爱e生定期寿险费率表.xls');

            var userId = window.location.href.match(/userId=.([^&]*)/)[0].substr(7);
            var code = window.location.href.match(/code=.([^&]*)/)?window.location.href.match(/code=.([^&]*)/)[0].substr(5):0;
            var eUid = window.location.href.match(/eUid=.([^&]*)/)[0].substr(5);
            var hk = localStorage.getItem("hkygrs")=="161219002"?1:0;
            localStorage.setItem("shareType","2");
            localStorage.setItem("eUid",eUid);

            if(code&&!hk){
                var myoc = new ObtainClient({
                    user_id: userId,
                    code: code,
                    share_title: '阳光人生随e保定期寿险',
                    share_id: 161219002,
                    share_type: 2
                });
                myoc.init();
                localStorage.setItem("hkygrs","161219002")
            }
            
            var flag = 1;
            $(".to-insure").on("tap",function(){
                var userInfo = localStorage.getItem("userInfo")?localStorage.getItem("userInfo"):0;
                if(userInfo){
                    userInfo = userInfo.split(",");
                    if(flag){
                        flag = 0;
                        $.post('//'+domain.jc+'/user/get_token/check_token',{token:userInfo[0]}, function (re) {
                            flag = 1;
                            if(re.code == '0001000'){
                                window.location.href = "ygrs_concept.html?type=1&userId="+userId;
                            }else{
                                window.location.href = "/view/user/login.html";
                            }
                        },'json');
                    }
                }else{
                    window.location.href = "/view/user/login.html";
                }
            });

            myDetail = new DetailYgrs({
                productId:161219002
            });
            myDetail.price();

            $("body").append(CNZZ);
        }


        function accept(rs){
            var json = $.parseJSON(rs);

            myDetail = new DetailYgrs({
                enterid:json.enterId,
                userId:json.userId,
                eUid:json.encryptUid,
                productId:161219002
            });
            myDetail.init();
        }

        function acceptShare(){
            myDetail.sharepage();
        }

        $(function() {
            $(".detail-show").on("tap",function(){
                var id = $(this).data("id");
                var sel = $(".item-detail[data-id='"+id+"']");
                if(sel.hasClass("showbox")){
                    sel.removeClass("showbox");
                    $(".iconfont",this).removeClass("icon-arrow-up");
                }else{
                    sel.addClass("showbox");
                    $(".iconfont",this).addClass("icon-arrow-up");
                }
            })
        })
    </script>
    
</body>
</html>