<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
 	<link rel="stylesheet" type="text/css" href="../../public/dist/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/head.css">
    <title>保满意-展业</title>
</head>
<body class="bodyColor-White">
    <div class="coming-wrap">
        <img src="../../public/images/coming/zhanye_banner.png">
        <h2>什么是展业？</h2>
        <p>展业是帮助保险经纪开展业务的必备神器。经纪人可以借助此功能为客户选择和搭配合适的保险方案并分享给客户，让客户快速了解保险方案内容，大大提高沟通效率和签单率。</p>
        <h2>功能特色</h2>
        <img src="../../public/images/coming/zhanye_js1.png">
        <img src="../../public/images/coming/zhanye_js2.png">
        <img src="../../public/images/coming/zhanye_js3.png">
    </div>
    <script type="text/javascript" src="../../public/dist/js/script/Zepto.js"></script>
    <script type="text/javascript" src="../../public/dist/js/config.js"></script>
    <script type="text/javascript" src="../../public/dist/js/app.js"></script>
</body>
</html>