<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
 	<link rel="stylesheet" type="text/css" href="../../public/dist/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/head.css">
    <title>保满意-新车</title>
</head>
<body class="bodyColor-White">
    <div class="coming-wrap">
        <img src="../../public/images/coming/newcar_banner.png">
        <h2>什么是新车报价？</h2>
        <p>我们在各个城市拓展有实力、好口碑的4s店进行战略合作，为您提供快速的在线比价和优质的免费试驾服务，帮您觅得性价比最高的座驾。</p>
        <h2>功能特色</h2>
        <img src="../../public/images/coming/newcar_js1.png">
        <img src="../../public/images/coming/newcar_js2.png">
        <img src="../../public/images/coming/newcar_js3.png">
    </div>
    <script type="text/javascript" src="../../public/dist/js/script/Zepto.js"></script>
    <script type="text/javascript" src="../../public/dist/js/config.js"></script>
    <script type="text/javascript" src="../../public/dist/js/app.js"></script>
</body>
</html>