
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1490321566522'); /* IE9*/
  src: url('../font/iconfont.eot?t=1490321566522#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1490321566522') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1490321566522') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1490321566522#iconfont') format('svg'); /* iOS 4.1- */

}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before { content: "\e600"; }

.icon-service:before { content: "\e601"; }

.icon-edit:before { content: "\e602"; }

.icon-service-solid:before { content: "\e603"; }

.icon-manager:before { content: "\e604"; }

.icon-menu:before { content: "\e605"; }

.icon-mycar:before { content: "\e606"; }

.icon-phone:before { content: "\e607"; }

.icon-setting:before { content: "\e608"; }

.icon-addfriends:before { content: "\e609"; }

.icon-date:before { content: "\e60b"; }

.icon-dindan:before { content: "\e60c"; }

.icon-dindanofcar:before { content: "\e60d"; }

.icon-dindanofsx:before { content: "\e60e"; }

.icon-find1:before { content: "\e60f"; }

.icon-good:before { content: "\e610"; }

.icon-home:before { content: "\e611"; }

.icon-home1:before { content: "\e612"; }

.icon-location:before { content: "\e613"; }

.icon-message:before { content: "\e614"; }

.icon-mine2:before { content: "\e615"; }

.icon-question1:before { content: "\e617"; }

.icon-scan:before { content: "\e618"; }

.icon-flag-solid:before { content: "\e619"; }

.icon-zxnumber:before { content: "\e61a"; }

.icon-find:before { content: "\e61e"; }

.icon-question:before { content: "\e61f"; }

.icon-pass:before { content: "\e620"; }

.icon-mine1:before { content: "\e621"; }

.icon-flag:before { content: "\e622"; }

.icon-arrow-down:before { content: "\e624"; }

.icon-arrow-up:before { content: "\e625"; }

.icon-plus:before { content: "\e627"; }

.icon-minus:before { content: "\e628"; }

.icon-dynamic:before { content: "\e62e"; }

.icon-honour:before { content: "\e62f"; }

.icon-applicant:before { content: "\e623"; }

.icon-coverage:before { content: "\e626"; }

.icon-insured:before { content: "\e629"; }

.icon-beneficiary:before { content: "\e62a"; }

.icon-unselected-single:before { content: "\e62b"; }

.icon-selected-single:before { content: "\e62c"; }

.icon-success:before { content: "\e62d"; }

.icon-close:before { content: "\e630"; }

.icon-eye-open:before { content: "\e631"; }

.icon-unselected:before { content: "\e632"; }

.icon-lock:before { content: "\e633"; }

.icon-eye-close:before { content: "\e634"; }

.icon-verification-code:before { content: "\e635"; }

.icon-mobile:before { content: "\e636"; }

.icon-selected:before { content: "\e637"; }

.icon-arrow-right:before { content: "\e61b"; }

.icon-arrow-left:before { content: "\e638"; }

.icon-select-disabled:before { content: "\e61c"; }

.icon-reply:before { content: "\e639"; }

.icon-collected:before { content: "\e63a"; }

.icon-uncollect:before { content: "\e63b"; }

.icon-solved:before { content: "\e63c"; }

.icon-coin:before { content: "\e63e"; }

.icon-unsolved:before { content: "\e63f"; }

.icon-tag:before { content: "\e640"; }

.icon-good-border:before { content: "\e63d"; }

.icon-collected-border:before { content: "\e641"; }

.icon-ungood-border:before { content: "\e642"; }

.icon-uncollect-border:before { content: "\e643"; }

.icon-unfavorite:before { content: "\e61d"; }

.icon-favorite:before { content: "\e644"; }

.icon-cars:before { content: "\e645"; }

.icon-calendar:before { content: "\e646"; }

.icon-close1:before { content: "\e649"; }

.icon-calendar-right:before { content: "\e647"; }

.icon-calendar-left:before { content: "\e648"; }

.icon-1st:before { content: "\e64a"; }

.icon-2nd:before { content: "\e64b"; }

.icon-3rd:before { content: "\e64c"; }

.icon-filter:before { content: "\e64d"; }

.icon-fuwujiage:before { content: "\e650"; }

.icon-fuwufangshi:before { content: "\e651"; }

.icon-fuwujieshao:before { content: "\e652"; }

.icon-jiaoyujingli:before { content: "\e653"; }

.icon-fuwushijian:before { content: "\e654"; }

.icon-fuwuyoushi:before { content: "\e655"; }

.icon-xingbienv:before { content: "\e656"; }

.icon-pinglun:before { content: "\e657"; }

.icon-shoujirenzhengbiaoshi:before { content: "\e658"; }

.icon-shimingrenzhengbiaoshi:before { content: "\e659"; }

.icon-zizhirenzhengbiaoshi:before { content: "\e65a"; }

.icon-zizhirenzheng:before { content: "\e65b"; }
.icon-zizhirenzheng:before { content: "\e65b"; }

.icon-xingbienan:before { content: "\e65c"; }

.icon-qiuzhi_xueli:before { content: "\e64e"; }

.icon-qiuzhi_leixing:before { content: "\e64f"; }

