<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset='utf-8'>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="msapplication-tap-highlight" content="no">
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/reset.css">
    <link rel="stylesheet" type="text/css" href="../../public/dist/css/head.css">
    <title>吉祥年综合意外伤害保险</title>
</head>
<body>
    <div class="page-group">
        <div class="page page-current">
            <div class="content">
                <div class="card-block product-card">
                    <div class="banner-jxn"></div>
                    <h1>吉祥年综合意外伤害保险</h1>
                    <p>超值性价比，为您提供全面意外保障</p>
                </div>
                <div class="card-block product-wrap">
                    <div class="flex-wrap is-spread">
                        <em class="product-price"></em>
                    </div>
                </div>
                <div class="card-block product-wrap">
                    <div class="flex-wrap bod-botm">
                        <div class="item-title">承保年龄：16-65岁</div>
                        <div class="item-title">保险期间：1年</div>
                    </div>
                    <div class="flex-wrap">
                        <div class="item-title">承保职业：1-3类<a href="bmy://app.page/document/?docAddress=/public/pdf/jxn/昆仑——职业分类表.pdf" id="job-show" target="_blank"><i class="iconfont icon-date font-28 color-FF6900"></i></a></div>
                    </div>
                </div>
                <div class="card-block product-wrap">
                    <h1 class="insure-title bod-botm"><i class="iconfont icon-coverage"></i>保障范围</h1>
                    <div class="flex-wrap bod-botm detail-show" data-id="1">
                        <div class="item-title">意外身故/残</div>
                        <div class="item-content">10万元<i class="iconfont icon-arrow-down"></i></div>
                    </div>
                    <div class="item-detail" data-id="1">
                        被保险人发生意外伤害事故，并在发生之日起180日内，身故的一次性给付10万元保险金，残疾的根据伤残程度给付，最高可给付10万元。
                    </div>
                    <div class="flex-wrap bod-botm detail-show" data-id="2">
                        <div class="item-title">航空意外身故/残</div>
                        <div class="item-content">40万元<i class="iconfont icon-arrow-down"></i></div>
                    </div>
                    <div class="item-detail" data-id="2">
                        被保险人在乘坐客运航班班机期间因遭受意外伤害，并自事故发生之日起180日内，以此事故为直接且单独原因造成身故、残疾的，最高可给付40万元保险金。（航空意外与一般意外伤害可以累计给付）
                    </div>
                    <div class="flex-wrap bod-botm detail-show" data-id="3">
                        <div class="item-title">意外医疗</div>
                        <div class="item-content">1万元<i class="iconfont icon-arrow-down"></i></div>
                    </div>
                    <div class="item-detail" data-id="3">
                        被保险人在保险期间内因遭受意外伤害事故，且在事故发生之日起180日内经医院进行治疗所发生的合理且必要的医疗费用超过100元的部分，保险公司100%给付。
                    </div>
                    <div class="flex-wrap bod-botm detail-show" data-id="4">
                        <div class="item-title">意外住院津贴</div>
                        <div class="item-content">20元/天<i class="iconfont icon-arrow-down"></i></div>
                    </div>
                    <div class="item-detail" data-id="4">
                        被保险人因遭受意外伤害事故，并自事故发生之日起180日内经医院诊断必须住院治疗， 保险公司按实际住院天数每天赔付20元（同一次住院天数最高为90天；一年内多次住院，累计最高为180天）。
                    </div>
                    <div class="flex-wrap detail-show" data-id="5">
                        <div class="item-title">救护车费用</div>
                        <div class="item-content">300元/每次<i class="iconfont icon-arrow-down"></i></div>
                    </div>
                    <div class="item-detail" data-id="5">
                        被保险人在保险期间内发生意外伤害事故，并在发生之时起24小时内发生的救护车费用，保险公司实际支出给付保险金，但每次事故给付不超过300元，全年累计不超过2000元。
                    </div>
                </div>
                <div class="card-block product-wrap">
                    <a href="bmy://app.page/document/?docAddress=/public/pdf/jxn/吉祥年——重要告知.doc" target="_blank" id="js-zygz">
                        <div class="flex-wrap bod-botm">
                            <div class="item-title">重要告知</div>
                            <div class="item-content"><i class="iconfont icon-arrow-right"></i></div>
                        </div>
                    </a>
                    <a href="bmy://app.page/document/?docAddress=/public/pdf/jxn/附件5-2吉祥年综合意外伤害保险（2015）条款.pdf" target="_blank" id="js-bxtk">
                        <div class="flex-wrap bod-botm">
                            <div class="item-title">保险条款</div>
                            <div class="item-content"><i class="iconfont icon-arrow-right"></i></div>
                        </div>
                    </a>
                    <a href="bmy://app.page/document/?docAddress=/public/pdf/jxn/信息披露-吉祥年.docx" target="_blank" id="js-xxpl">
                        <div class="flex-wrap">
                            <div class="item-title">信息披露</div>
                            <div class="item-content"><i class="iconfont icon-arrow-right"></i></div>
                        </div>
                    </a>
                </div>
                <div class="card-block product-wrap card-prodimg">
                    <img src="../../public/images/news/pic1.png">
                    <img src="../../public/images/news/pic2.png">
                    <img src="../../public/images/news/pic3.png">
                    <img src="../../public/images/news/pic4.png">
                </div>
            </div>
        </div>
    </div>
    <div class="btn-insure">
        <a href="bmy://app.call/phone?phone=4001630099" class="js-kefu"><i class="iconfont icon-service"></i></a>
        <em class="insure-price"></em>
        <div class="to-insure">立即投保</div>
    </div>
    <script type="text/javascript" src="../../public/dist/js/script/Zepto.js"></script>
    <script type="text/javascript" src="../../public/dist/js/config.js"></script>
    <script type="text/javascript" src="../../public/dist/js/buy.js"></script>
    <script>
        var myDetail;
        var url = window.location.href.match(/type=.([^&]*)/);
        GetTel();
        if(url&&url[0].substr(5)==1){
            $(".js-kefu").attr("href",kf_phone);
            $("#job-show").attr('href','../../public/pdf/jxn/昆仑——职业分类表.pdf');
            $("#js-zygz").attr('href','../../public/pdf/jxn/吉祥年——重要告知.doc');
            $("#js-bxtk").attr('href','../../public/pdf/jxn/附件5-2吉祥年综合意外伤害保险（2015）条款.pdf');
            $("#js-xxpl").attr('href','../../public/pdf/jxn/信息披露-吉祥年.docx');

            var userId = window.location.href.match(/userId=.([^&]*)/)[0].substr(7);
            var code = window.location.href.match(/code=.([^&]*)/)?window.location.href.match(/code=.([^&]*)/)[0].substr(5):0;
            var eUid = window.location.href.match(/eUid=.([^&]*)/)[0].substr(5);
            var hk = localStorage.getItem("hkjxn")=="161116001"?1:0;
            localStorage.setItem("shareType","2");
            localStorage.setItem("eUid",eUid);
            if(code&&!hk){
                var myoc = new ObtainClient({
                    user_id: userId,
                    code: code,
                    share_title: '吉祥年综合意外伤害保险',
                    share_id: 161116001,
                    share_type: 2
                });
                myoc.init();
                localStorage.setItem("hkjxn","161116001")
            }
            
            var flag = 1;
            $(".to-insure").on("tap",function(){
                var userInfo = localStorage.getItem("userInfo")?localStorage.getItem("userInfo"):0;
                if(userInfo){
                    userInfo = userInfo.split(",");
                    if(flag){
                        flag = 0;
                        $.post('//'+domain.jc+'/user/get_token/check_token',{token:userInfo[0]}, function (re) {
                            flag = 1;
                            if(re.code == '0001000'){
                                window.location.href = "jxn_insure.html?type=1&userId="+userId;
                            }else{
                                window.location.href = "../user/login.html";
                            }
                        },'json');
                    }
                }else{
                    window.location.href = "../user/login.html";
                }
            });

            myDetail = new DetailJxn({
                productId:161116001
            });
            myDetail.price();

            $("body").append(CNZZ);
        }


        function accept(rs){
            var json = $.parseJSON(rs);

            myDetail = new DetailJxn({
                enterid:json.enterId,
                userId:json.userId,
                eUid:json.encryptUid,
                productId:161116001
            });
            myDetail.init();
        }

        function acceptShare(){
            myDetail.sharepage();
        }

        $(function() {
            $(".detail-show").on("tap",function(){
                var id = $(this).data("id");
                var sel = $(".item-detail[data-id='"+id+"']");
                if(sel.hasClass("showbox")){
                    sel.removeClass("showbox");
                    $(".iconfont",this).removeClass("icon-arrow-up");
                }else{
                    sel.addClass("showbox");
                    $(".iconfont",this).addClass("icon-arrow-up");
                }
            })
        })
    </script>
    
</body>
</html>